/*------------------------------------------------------------------------------
 - ESTILO GENERAL
 -----------------------------------------------------------------------------*/
.float-left{float:left !important;}
.float-right{float:right !important;}
.text-center{text-align: center !important;}
.border{border:1px solid red !important;}

h1{
    font-size:190%;
    color:#0C2131;
    font-weight:bold;
    font-family:"Book Antiqua", Times, serif;
}
h2{
    /*font-family:"Book Antiqua", Times, serif;
    color:#19517F;
    font-size:165%;
    font-weight:bold;
    font-style:italic;*/
    color:#fff;
    font-size:110%;
}
h3{
    font-family:"Book Antiqua", Times, serif;
    color:#19517F;
    font-size:165%;
    font-weight:bold;
    font-style:italic;
    /*font-size:125%;
    color:#0C2131;
    font-weight:bold;*/
}
h4{
    font-size:125%;
    color:#0C2131;
    font-weight:bold;
}


/*------------------------------------------------------------------------------
 - ESTILOS PARA INPUT y TEXTAREA
 -----------------------------------------------------------------------------*/
input[type=text],input[type=password], textarea{
    border:1px solid #78A9B0;
    background-color:#fff;
    padding:2px;
    text-align:left;
    font-family: "Verdana", Arial, Helvetica, sans-serif;
    font-size:100%;
}

input.input-formcontact{
    margin-top: 0 !important;
    width:186px;
}
textarea.textarea-formcontact{
    margin-top: 0 !important;
    width:186px;
    height:50px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA BOTONES
 -----------------------------------------------------------------------------*/
button{
    font-family: "Verdana", Arial, Helvetica, sans-serif;
    border:none;
    font-size: 100%;
    font-weight:normal;
    text-align:center;
}
button.button-small{
    background:url(../images/button_send.png) no-repeat top center;
    width:63px;
    height:18px;
    color:#fff;
}

.button-content{
        text-align:center;
        width:183px;
        margin-top:5px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA LINK
 -----------------------------------------------------------------------------*/
a.link-moreinfo{
    color:#F7941D;
    font-weight:bold;
    font-size: 90%;
    font-style: italic;
    text-decoration: underline;
}


/*------------------------------------------------------------------------------
 - ESTILOS PARA LABEL
 -----------------------------------------------------------------------------*/
label.label-form{
    font-weight: normal;
    font-size: 100%;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA TEXTO
 -----------------------------------------------------------------------------*/
.text-detach{
    color:#19517F;
    font-weight: bold;
    font-family: "Book Antiqua",Times,serif;
    font-style: italic;
    font-size: 120%;
}


/*------------------------------------------------------------------------------
 - ESTILOS PARA EL HEADER
 -----------------------------------------------------------------------------*/
.header{
    margin-top:20px;
}
    .header .icon-phone{
        float:left;
        margin: 6px 5px 0 0;
    }
    .header .separator{
        float: left;
        border-bottom:1px dashed #778C9C;
    }
    .header .support {
        float:right;
        background:url(../images/button_support.png) no-repeat top left;
        width: 135px;
        height:33px;
        margin-right: 30px;
    }
        .header .support a{
            float:left;
            font-size: 80%;
            margin:8px 0 0 30px;
        }


/*------------------------------------------------------------------------------
 - ESTILOS PARA EL MENU
 -----------------------------------------------------------------------------*/
.header .menu{
    background:url(../images/bg_menu.png) no-repeat top center;
    height:54px;
    margin-top:10px;
}
    .header .menu ul{
        color:#fff;
        font-size:110%;
        margin:15px 0 0 50px;
        font-weight:bold;
    }
        .header .menu ul li{
            width:156px;
            float:left;
            text-align:center;
        }
.menu2{
    position:absolute;
    z-index:0;
    width:32px;
    top:80px;
    left:43px;
}
    .menu2 a{
        float:left;
    }

/*------------------------------------------------------------------------------
 - ESTILOS EL CONTENEDOR COMUN DE TODAS LAS SECCIONES
 -----------------------------------------------------------------------------*/
.container-comun{
    position: relative;
    background:url(../images/bg_container_top.png) no-repeat top center;
    height: 445px;
}
    .container-comun .banner{
        float:left;
        position: relative;
        margin:40px 0 0 40px;
    }
    .container-comun .form-info{
        float:right;
        margin:32px 50px 0 0;
    }
        .container-comun .form-info .form-top{
            float: left;
            background:url(../images/form_top.jpg) no-repeat top left #F1F7F9;
            width: 220px;
            height:45px;
            text-align:center;
            padding-top:10px;
        }
        .container-comun .form-info .form-center{
            float: left;
            clear:left;
            width: 206px;
            height: auto;
            padding-left: 14px;
            background-color:#F1F7F9;
        }
        .container-comun .form-info .form-bottom{
            float: left;
            clear: left;
            background:url(../images/form_bottom.jpg) no-repeat top left;
            width: 220px;
            height:20px;
        }
        .container-comun .solapas{
            float: left;
            position: absolute;
            width: 32px;
            height: 200px;
            top:95px;
            left:1px;
        }

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL CONTENIDO DE CADA SECCION
 -----------------------------------------------------------------------------*/
.content{
    position: relative;
    margin:-90px 0 0 50px;
    z-index: 100;
}
    .content .column-content{
        float:left;
        width: 380px;
        margin-right: 20px;
    }
        .content .column-content p{
            font-size: 90%;
            margin: -10px 0 10px 0 !important;
        }
        .content .column-content .separator{border-bottom: 1px dashed #778C9C;}

        .content .column-content .col-1{
            float:left;
            margin: -2px 10px 0 0;
        }
        .content .column-content .col-2{
            float:left;
            width: 210px;
        }
        .content .column-content .row{
            float: left;
            padding:10px 0 10px 0;
        }

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL FOOTER
 -----------------------------------------------------------------------------*/
.footer{
    background:url(../images/bg_footer.jpg) no-repeat top center;
    position:relative;
    z-index:0;
}
.footer ul li{
    margin-left:-17px;
}
.footer .copyright{
    margin:0 0 10px 0;
}
.footer .valid{
    margin:0 0 10px 0;
    text-align:center;
}

.maincontainer{
    background:url(../images/bg_container_top.png) no-repeat top center;
    /*height:445px;*/
    position:relative;
}
    .maincontainer .banner{
        height:246px;
        margin-top:50px;
    }
    .maincontainer .form-info{
        margin-top:32px;
        clear:right;
        width:220px;
    }
        .maincontainer .form-info .form-top{
            background:url(../images/form_top.jpg) no-repeat top left #F1F7F9;
            height:45px;
            text-align:center;
            padding-top:10px;
        }
        .maincontainer .form-info .form-center{
            background:#F1F7F9;
            height:216px;
            margin:0;
            padding-left:15px;
        }
            .maincontainer .form-info .form-center p{
                margin-bottom:0;
            }
        .maincontainer .form-info .form-bottom{
            background:url(../images/form_bottom.jpg) no-repeat top left;
            height:20px;
        }
        .maincontainer .content{
            background:url(../images/bg_container_bottom.png) no-repeat bottom center;
            padding-bottom:10px;
            position:relative;
            z-index:1;
        }
            .maincontainer .content .column-img{
                width:156px;
                margin: -2px 10px 0 0;
                float:left;
            }
            .maincontainer .content .column{
                font-size:90%;
                /*border-bottom:dashed #778C9C 1px;*/
                margin-bottom:10px;
            }
            .maincontainer .content .column h3{
                margin-bottom:0px;
            }
            .maincontainer .content .column p{
                padding:5px 0 0 0;
                margin:0;
            }
            .maincontainer .content .column-end{
                border:none;
            }
            .maincontainer .content a{
                color:#F7941D;
                text-decoration:underline;
            }
                .maincontainer .content .column-content .column-portfolio{
                    background:url(../images/bg_images.png) no-repeat top center;
                    font-family:"Book Antiqua", Times, serif;
                    font-size:130%;
                    color:#19517F;
                    font-style:italic;
                    margin-bottom:-20px;
                }
                    .maincontainer .content .column-content .column-portfolio img{
                        margin-left:14px;
                        padding-top:15px;
                    }
                    .maincontainer .content .column-content .column-portfolio p{
                        margin-left:15px;
                    }
/******************************* FIN MainContainer ********************************/

/******************************** Clientes *************************************/
/*.container-clientes .content-clientes .image-clientes{
    margin-right:10px;
}*/
.banner .bg-clientes-top{
    background:url(../images/bg_cliente_top.png) no-repeat top center;
    height:12px;
    margin-top:-10px;
}
.banner .bg-clientes-bottom{
    background:url(../images/bg_cliente_bottom.png) no-repeat top center;
    height:12px;
}
.banner .container-clientes{
    background-color:#F1F7F9;
    height:194px;
}
    .banner .container-clientes .content-clientes{
        margin-top:7px;
    }
    .banner .paginador{
        background-color:#F1F7F9;
    }
        .banner .paginador .arrow-left{
            float:left;
        }
        .banner .paginador .arrow-right{
            float:right;

        }
/******************************* Footer ********************************/
