/*------------------------------------------------------------------------------
 - ESTILO GENERAL
 -----------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
 - ESTILOS PARA INPUT y TEXTAREA
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA BOTONES
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA LINK
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA LABEL
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA TEXTO
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA LISTADOS
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL HEADER
 -----------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
 - ESTILOS PARA EL MENU
 -----------------------------------------------------------------------------*/

        
/*------------------------------------------------------------------------------
 - ESTILOS PARA LOS ENCABEZADOS DE LAS SECCIONES
 -----------------------------------------------------------------------------*/
    /* BANNER COMUN
     ******************************************************************/
    .container-head .banner{
        float:left;
        position: relative;
        width: 551px;
        height: 263px;
        margin:40px 0 0 10px;
        overflow: hidden;
        border:1px solid red;
    }


/*------------------------------------------------------------------------------
 - ESTILOS PARA EL CUERPO DE LAS SECCIONES
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL FOOTER
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL PORTFOLIO
 -----------------------------------------------------------------------------*/
