/*------------------------------------------------------------------------------
 - ESTILO GENERAL
 -----------------------------------------------------------------------------*/
.float-left{float:left !important;}
.float-right{float:right !important;}
.text-center{text-align: center !important;}
.border{border:1px solid red !important;}
.height-inherit{height: inherit !important;}
.reset-cursor{cursor:default !important;}
ul{margin-left: 0;}

h1{
    font-size:190%;
    color:#0C2131;
    font-weight:bold;
    font-family:"Book Antiqua", Times, serif;
}
h2{
    font-family:"Book Antiqua", Times, serif;
    color:#19517F;
    font-size:165%;
    font-weight:bold;
    font-style:normal;
    color:#fff;
    font-size:140%;
}
h3{
    font-family:"Book Antiqua", Times, serif;
    color:#19517F;
    font-size:165%;
    font-weight:bold;
    font-style:italic;
    /*font-size:125%;
    color:#0C2131;
    font-weight:bold;*/
}
h4{
    font-size:125%;
    color:#0C2131;
    font-weight:bold;
}


/*------------------------------------------------------------------------------
 - ESTILOS PARA INPUT y TEXTAREA
 -----------------------------------------------------------------------------*/
input[type=text],input[type=password], textarea{
    border:1px solid #78A9B0;
    background-color:#fff;
    padding:2px;
    text-align:left;
    font-family: "Verdana", Arial, Helvetica, sans-serif;
    font-size:100%;
}

input.input-formcontact{
    margin-top: 0 !important;
    width:186px;
}
input.input-captcha{
    width: 186px;
    font-size: 120%;
    text-align: center;
    letter-spacing: 5px;
}
textarea.textarea-formcontact{
    margin-top: 0 !important;
    width:186px;
    height:50px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA BOTONES
 -----------------------------------------------------------------------------*/
button{
    font-family: "Verdana", Arial, Helvetica, sans-serif;
    border:none;
    font-size: 100%;
    font-weight:normal;
    text-align:center;
}
button.button-small{
    background:url(../images/button_send.png) no-repeat top center;
    width:63px;
    height:18px;
    color:#fff;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA LINK
 -----------------------------------------------------------------------------*/
a.link-moreinfo{
    float:right;
    clear:left;
    color:#F7941D;
    font-weight:bold;
    font-size: 90%;
    font-style: italic;
    text-decoration: underline;
    margin-right: 10px;
}
a.link-1{
    font-family:"Book Antiqua", Times, serif;
    color:#19517F;
    font-style:italic;
    font-weight: normal;
    font-size: 130%;
}
    a.link-1:hover{font-weight: bold;}

/*------------------------------------------------------------------------------
 - ESTILOS PARA LABEL
 -----------------------------------------------------------------------------*/
label.label-form{
    font-weight: normal;
    font-size: 100%;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA TEXTO
 -----------------------------------------------------------------------------*/
.text-detach{
    color:#19517F;
    font-weight: bold;
    font-family: "Book Antiqua",Times,serif;
    font-style: italic;
    font-size: 120%;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA LISTADOS
 -----------------------------------------------------------------------------*/
ul.list-item li{
    list-style-type:disc !important;
    margin-left: 30px;
}

ul.list-faq li.item{
    font-size: 110%;
    width: 530px;
    border-bottom: 1px dashed #778C9C;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
    ul.list-faq li.item span{
        color:#F7941D;
        font-weight:bold;
        font-size: 110%;
    }
    ul.list-faq li.item a{
        color: #1C3A50;
    }
        ul.list-faq li.item a:hover{
            color: #1C3A50;
            text-decoration: underline;
        }
    ul.list-faq li.item .result{
        clear:left;
        margin:5px 0 0 20px;
        display: none;
    }

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL HEADER
 -----------------------------------------------------------------------------*/
.header{
    margin-top:20px;
}
    .header .icon-phone{
        float:left;
        margin: 6px 5px 0 0;
    }
    .header .separator{
        float: left;
        border-bottom:1px dashed #778C9C;
    }
    .header .support {
        float:right;
        background:url(../images/button_support.png) no-repeat top left;
        width: 135px;
        height:33px;
        margin-right: 30px;
    }
        .header .support a{
            float:left;
            font-size: 80%;
            margin:8px 0 0 30px;
        }


/*------------------------------------------------------------------------------
 - ESTILOS PARA EL MENU
 -----------------------------------------------------------------------------*/
.header .menu{
    background:url(../images/bg_menu.png) no-repeat top center;
    height:54px;
    margin-top:10px;
}
    .header .menu ul{
        position: relative;
        margin:12px 0 0 48px;
        width: 790px;
        overflow: hidden;
        /*border:1px solid red;*/
    }
        .header .menu ul li{
            width:156px;
            height: 30px;
            float:left;
            text-align:center;
            background-color: transparent;
            /*border:1px solid green;*/
        }
        .header .menu ul li.back {
            position: absolute;
            background: url(../images/bg_menu_over.jpg) no-repeat right;
            width: 9px;
            height: 30px;
        }
            .header .menu ul li.back .left {
                background: url(../images/bg_menu_over.jpg) no-repeat top left;
                height: 30px;
                margin-right: 9px; /* 7px is the width of the rounded shape */
            }
        .header .menu ul li h2{
            position: relative;
            z-index: 1000;
        }
        .header .menu ul li a{
            display: block;
            color:#fff;
            z-index: 1010;
            height: 30px;
        }
            .header .menu ul li a:hover{
                color:#000;
            }
        .header .menu ul li.current a{
            color:#000;
        }

        
/*------------------------------------------------------------------------------
 - ESTILOS PARA LOS ENCABEZADOS DE LAS SECCIONES
 -----------------------------------------------------------------------------*/
.container-head{
    position: relative;
    background:url(../images/bg_container_top.png) no-repeat top center;
    /*height: 445px;*/
    height: 460px;
    /*border:1px solid red;*/
}
    /* BANNER COMUN
     ******************************************************************/
    .container-head .banner{
        float:left;
        position: relative;
        width: 551px;
        height: 263px;
        margin:40px 0 0 40px;
        overflow: hidden;
    }

    /* BANNER PORTFOLIO
     ******************************************************************/
    .container-head .banner-portfolio{
        float:left;
        width: 545px;
        height: auto;
        margin:50px 0 0 50px;
    }
    .container-head .banner-portfolio .bg{
        float:left;
        width:535px;
        height:12px;
    }
    .container-head .banner-portfolio .bg-top{
        background:url(../images/bg_cliente_top.png) no-repeat top center;
    }
    .container-head .banner-portfolio .bg-bottom{
        background:url(../images/bg_cliente_bottom.png) no-repeat top center;
    }
    .container-head .banner-portfolio .bg-center{
        float:left;
        background-color:#F1F7F9;
        width: 535px;
        height:230px;
        /*border:1px solid red;*/

    }
    .container-head .banner-portfolio .gallery{
        float:left;
        position: relative;
        width: 520px;
        height: 193px;
        padding:10px 0 0 15px;
        overflow: hidden;
        /*border:1px solid red;*/
    }
    .container-head .banner-portfolio .container-slide{
        position:relative;
        left:0;top:0;
        width: 2000px;
        height: 193px;
        /*border:1px solid red;*/
    }
        .container-head .banner-portfolio .container-slide .slide{
            position:relative;
            float:left;
            width: 535px;
            height: 190px;
            left:0px;top: 0;
            /*border:1px solid;*/
        }
            .container-head .banner-portfolio .container-slide .slide .thumb{
                float: left;
                width: 119px;
                height: 85px;
                margin:0 8px 8px 0;
            }
    .container-head .banner-portfolio .arrows{
        clear:left;
        width: 500px;
        margin: 0 auto;
        /*border:1px solid red;*/
    }

    
    /* SOLAPAS
     ******************************************************************/
    .container-head .solapas{
        float: left;
        position: absolute;
        width: 32px;
        height: 200px;
        top:95px;
        left:1px;
        z-index: 1000;
    }

    /* FORMULARIO SOLICITAR INFORMACION
     *****************************************************************/
    .container-head .sidebar{
        margin:32px 50px 0 0;
    }
        .container-head .sidebar .form-center .mask{
            position: absolute;
            left:0;top:0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: 100;
            display: none;
        }
        .container-head .sidebar .form-center .ajaxloader{
            position: absolute;
            left:0;top:0;
            width: 100%;
            height: 100%;
            background:url(../images/ajax-loader4.gif) no-repeat center;
            z-index: 110;
            display: none;
        }
        .container-head .sidebar .form-center .msg{ /* Estilo para mensaje de error o exito del envio */
            float: left;
            width: 215px;
            height: 128px;
            margin-left: -12px;
            padding-top: 80px;
            font-size: 100%;
            color:#19529A;
            text-align: center;
            display:none;
        }

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL CUERPO DE LAS SECCIONES
 -----------------------------------------------------------------------------*/
.content{
    position: relative;
    margin-top:-90px;
    padding-left: 50px;
    z-index: 100;
}
    .content .bg-bottom{
        float: left;
        clear: left;
        background:url(../images/bg_container_bottom.png) no-repeat bottom left;
        width: 805px;
        height: 69px;
        margin-left: -20px;
    }
    .content .column-left{
        float:left;
        width: 535px;
        height:inherit;
        margin-left: -2px;
        /*border:1px solid red;*/
    }
        .content .column-left .jq-intro,
        .content .column-left .jq-complete{
            font-size: 90%;
            margin: -10px 0 10px 0 !important;
        }
        .content .column-left .separator{border-bottom: 1px dashed #778C9C;}

        .content .column-left .col-1{
            float:left;
            margin: -2px 10px 0 0;
        }
        .content .column-left .row{
            position: relative;
            float: left;
            clear:left;
            width:534px;
            height: 130px;
            padding:10px 0 10px 0;
            background-color: #D3E8EC;
            z-index: 100;
            overflow: hidden;
            /*border:1px solid blue;*/
        }
        
    .content .column-right{
        float:right;
        width: 230px;
        height:inherit;
        margin-right: 90px;
        /*border:1px solid red;*/
    }
        .content .column-right .sidebar{
            margin-right: 10px;
        }

.content-special{
    float:left;
    margin:50px 0 0 50px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL FOOTER
 -----------------------------------------------------------------------------*/
.footer{
    background:url(../images/bg_footer.jpg) no-repeat top center;
    position:relative;
    z-index:0;
}
    .footer .cont-links{
        float:left;
        margin-left: 100px;
    }
    .footer .col{
        float:left;
        margin-right: 50px;
    }
    .footer .icon{
        position: relative;
        top:4px;
    }

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL SIDEBAR
 -----------------------------------------------------------------------------*/
.sidebar{
    float:right;
}
    .sidebar .form-top{
        float: left;
        background:url(../images/form_top.jpg) no-repeat top left #F1F7F9;
        width: 220px;
        height:45px;
        text-align:center;
        padding-top:10px;
    }
    .sidebar .form-center{
        position: relative;
        float: left;
        clear:left;
        width: 206px;
        height: auto;
        padding-left: 14px;
        background-color:#F1F7F9;
    }
    .sidebar .form-bottom{
        float: left;
        clear: left;
        background:url(../images/form_bottom.jpg) no-repeat top left;
        width: 220px;
        height:20px;
    }



/*------------------------------------------------------------------------------
 - ESTILOS PARA EL PORTFOLIO
 -----------------------------------------------------------------------------*/
.portfolio-thumb{
    position: relative;
    float:left;
    width: 780px;
    height: 540px;
    /*border:1px solid red;*/
    overflow: hidden;
}
    .portfolio-thumb .container-slide{
        position: relative;
        left:0;top:0;
        width: 2000px;
        height: 800px;
        /*border:1px solid green;*/
    }
        .portfolio-thumb .container-slide .slide{            
            float: left;
            width: 790px;
            height: 530px;
            /*border:1px solid red;*/
        }
            .portfolio-thumb .container-slide .slide .thumb{
                float:left;
                width: 351px;
                height: 255px;
                margin:0 40px 15px 0;
                /*border:1px solid blue;*/
            }
                .portfolio-thumb .container-slide .slide .thumb .frame{
                    position: relative;
                    background:url(../images/bg_images.png) no-repeat top center;
                    width: 382px;
                    height: 243px;
                    margin:-5px 0 0 -8px;
                }
                    .portfolio-thumb .container-slide .slide .thumb .frame .image{
                        float:left;
                        margin:16px 0 0 15px;
                    }
            .portfolio-thumb .container-slide .slide .thumb .link-1{
                float: left;
                clear: left;
                margin: -10px 0 0 10px;
            }

.portfolio-nav{
    position: absolute;
    width: 55px;
    top:34px;
    padding-top:218px;
    z-index: 1000;
    /*border:1px solid red;*/
}
.portfolio-nav-prev{
    left:-2px;
    padding-top:218px;
}
.portfolio-nav-next{
    left:805px;
    padding-top:218px;
}


.portfolio-ajaxloader{
    position: absolute;
    background: transparent url(../images/ajax-loader6.gif) no-repeat center;
    top:15px;
    left:15px;
    width: 350px;
    height: 210px;
    z-index: 1100;
}
