/*------------------------------------------------------------------------------
 - ESTILO GENERAL
 -----------------------------------------------------------------------------*/
.trow{
    float:left;
    clear: both;
    width: 100%;
    margin: 8px 0 8px 0;
}
h1.title, h2.title, h3.title, h4.title{
    font-weight: bold;
    float: left;
}
h1.title{
    font-size: 200%;
    margin: -30px 0 20px -18px;
    padding: 0 100px 8px 70px;
    border-bottom: 1px dashed #1C3A50;
}
h3.title{
    font-size: 120%;
    margin: 0 0 10px -10px;
    padding: 0 0 5px 10px;
    width:210px;
    border-bottom: 1px dashed #1C3A50;
}
h4.title{
    font-size: 110%;
    margin: 0 0 4px -9px;
    padding-bottom: 2px;
    text-align: right;
    width: 150px;
    border-bottom: 1px dashed #fff;
}


/*------------------------------------------------------------------------------
 - ESTILO PARA MENSAJES DEL VALIDADOR
 -----------------------------------------------------------------------------*/
.valid-success{
    background: transparent url(../img/icon_success.png) no-repeat left !important;
    width: 16px;
    height: 16px;
    padding: 0 0 0 18px !important;
    color: #264409 !important;
    border: none !important;
    font-size: 100% !important;
}
.valid-error{
    background: #FBE3E4;
    color: #8a1f11;
    border: 2px solid #FBC2C4;
    padding: 5px;
    margin-left: 5px;
    font-size: 90%;
    font-weight: normal;
    min-width: 150px;
    max-width: 230px;
    text-align: left;
}
.valid-highlight{border-style: dashed !important;}
.valid-unhighlight{border-style: solid !important;}

/*------------------------------------------------------------------------------
 - ESTILOS PARA LINK
 -----------------------------------------------------------------------------*/
a.link-moreinfo{
    float: right;
    background: url({BASE_URL}img/icon-arrow.png) no-repeat right bottom;
    color:#F69924;
    font-weight: bold;
    font-style: italic;
    font-size: 110%;
    padding: 0 9px 4px 0;
}
a.link-img{
    color:#A62D38 !important;
    font-size: 110%;
}
    a.link-img img{
        position: relative;
        top:3px;
    }
    a.link-img:hover{color:#581B23 !important;}

/*------------------------------------------------------------------------------
 - ESTILOS PARA LABEL
 -----------------------------------------------------------------------------*/
.label{
    display: block;
    float: left;
    text-align: right;
    margin-right: 10px;
    cursor: pointer;
    font-weight: normal;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA INPUT
 -----------------------------------------------------------------------------*/
.input-form{
    width: 300px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA TEXTAREA
 -----------------------------------------------------------------------------*/
.textarea{
    width: 450px;
    height: 100px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA SELECT
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA BUTTON
 -----------------------------------------------------------------------------*/
button{
    background: transparent url({BASE_URL}img/button.png) no-repeat bottom;
    border: none;
    width: 80px;
    height: 25px;
    color: #1B3A50;
}


/*------------------------------------------------------------------------------
 - ESTILO QUE ESTAN EN EL "HEADER"
 -----------------------------------------------------------------------------*/
.header{
    background: url({BASE_URL}img/bg-body.jpg) no-repeat bottom center;
    padding-top:30px;
    height: 448px;
}
    .header .cont-phone{
        float: right;
        width: 250px;
        color: #365265;
    }
        .header .cont-phone p{
            margin: 0 !important;
            padding: 4px 0 4px !important;
        }
        .header .cont-phone .line{
            border-top: 1px dashed #205580;
        }
        .header .cont-phone img{
            float: left;
            margin: 10px 5px;
        }
        .header .cont-phone span{
            color:#19517F;
            font-style: italic;
            font-weight: bold;
        }
    .header .logo{
        padding-left: 10px;
    }


/* MENU
 -----------------------------------------------------------------------------*/
.header .menu{
    clear: both;
    float: left;
    background: url({BASE_URL}img/menu.png) no-repeat;
    width: 974px;
    height: 62px;
    margin-top: 15px;
}
    .header .menu ul,.header .menu li{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .header .menu ul{
        margin: 12px 0 0 18px;
        /*border: 1px solid red;*/
    }
    .header .menu li{
        float: left;
        margin-right: 2px;
        text-align: center;
    }
    .header .menu a{
        display: block;
        padding: 5px 27px 0 27px;
        height: 30px;
        /*border: 1px solid green;*/
    }
    .header .menu .line{
        background: url({BASE_URL}img/menu-separator.jpg) no-repeat right top;
    }
    .header .menu h1{
        font-size: 170%;
        color: #fff;
    }

/*------------------------------------------------------------------------------
 - ESTILO QUE ESTAN EN EL "MAIN CONTAINER"
 -----------------------------------------------------------------------------*/
.main-container{
    margin-top:-320px;
    width: 978px;
    /*border: 1px solid red;*/
}
    .main-container .column-container{
        float: left;
        position: relative;
        width: 730px;
        z-index: 10;
        /*border: 1px solid red;*/
    }
        .main-container .column-container .top{
            position: relative;
            float: left;
            background: url({BASE_URL}img/main-container-top.png) no-repeat;
            width:730px;
            height: 70px;
            z-index: 10;
        }
        .main-container .column-container .middle{
            position: relative;
            float: left;
            clear: left;
            background: url({BASE_URL}img/main-container-middle.png) repeat-y;
            width:670px;
            padding: 0 30px 0 30px;
            z-index: 10;
    }
        .main-container .column-container .bottom{
            position: relative;
            float: left;
            clear: left;
            background: url({BASE_URL}img/main-container-bottom.png) no-repeat;
            width:730px;
            height: 24px;
            z-index: 10;
        }
        .main-container .column-container .iso{
            position: relative;
            z-index: 0;
            clear: left;
            float: left;
        }
        .main-container .column-container .iso1{
            background: url({BASE_URL}img/iso-01.png) no-repeat;
            width: 381px;
            height: 336px;
            margin: -328px 0 0 -158px;
        }
        
/* CONTAINER PACK
 -----------------------------------------------------------------------------*/
    .main-container .cont-pack{
        float: left;
        width: 202px;
        height: 268px;
        margin: 0 20px 10px 0;
        /*border: 1px solid green;*/
    }
        .main-container .cont-pack .thumb{
            display: block;
            width: 200px;
            height: 120px;
            margin-bottom: 8px;
            border: 1px solid red;
        }
        .main-container .cont-pack h2{
            font-size: 150%;
            padding-bottom: 2px;
            margin-bottom: 8px;
            width: 200px;
            border-bottom: 1px dashed #1C3A50;
        }
        .main-container .cont-pack p{
            clear: left;
            font-size: 115%;
            margin: 0 0 4px 0 !important;
        }


/* SIDEBAR
 -----------------------------------------------------------------------------*/
    .main-container .column-sidebar{
        float: right;
        position: relative;
        right: 12px;
        width:245px;
        /*border: 1px solid red;*/
    }
/* SIDEBAR - SOPORTE
 -----------------------------------------------------------------------------*/
        .main-container .column-sidebar .soporte{
            float: left;
            background: url({BASE_URL}img/bg-soporte.png) no-repeat;
            width:245px;
            height: 42px;
            padding-top:11px;
            font-size: 150%;
            color:#1B3A50;
            text-align: center;
        }
            .main-container .column-sidebar .soporte img{
                position: relative;
                top:4px;
            }
        /* SIDEBAR - FORMULARIO DE CONTACTO
         ---------------------------------------------------------------------*/
        .main-container .column-sidebar .form-contact{
            clear: left;
            float:left;
            background: url({BASE_URL}img/bg-formcontact.png) no-repeat;
            width: 200px;
            height: 295px;
            padding: 25px 25px 0 25px;
            margin-top: -10px;
        }
            .main-container .column-sidebar .form-contact input {
                width: 200px;
            }
                .main-container .column-sidebar .form-contact input.w1 {
                    width:50px;
                    text-align: center;
                }
                .main-container .column-sidebar .form-contact input.w2 {
                    width:142px;
                }
            .main-container .column-sidebar .form-contact textarea {
                width: 189px;
                height: 50px;
            }
            .main-container .column-sidebar .form-contact p{
                margin: 4px 0 4px 0 !important;
            }

        /* SIDEBAR - CONT TESTIMONIAL
         ---------------------------------------------------------------------*/
        .main-container .column-sidebar .cont-testimonial{
            clear: left;
            float:left;
            background: url({BASE_URL}img/bg-cont-testimonial.png) no-repeat;
            width: 200px;
            height: 149px;
            padding: 30px 25px 25px 25px;
            margin-top: -10px;
            font-size: 110%;
        }
            .main-container .column-sidebar .cont-testimonial .info{
                margin-top: 10px;
                width: 210px;
            }
                .main-container .column-sidebar .cont-testimonial .info .col1{
                    float: left;
                    width: 140px;
                }
                .main-container .column-sidebar .cont-testimonial .info p{
                    clear: left;
                    margin: 0 !important;
                    width: 100%;
                    text-align: right;
                }


/*------------------------------------------------------------------------------
 - ESTILO QUE ESTAN EN EL "FOOTER"
 -----------------------------------------------------------------------------*/
.footer{
    clear: both;
    background: url({BASE_URL}img/bg-footer.jpg) no-repeat;
    width: 1360px;
    height: 295px;
    margin: 0 auto;
}


/*------------------------------------------------------------------------------
 - ESTILO PARA TABLAS
 -----------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
 - ESTILO PARA TABLA "CONTENT"
 -----------------------------------------------------------------------------*/
.table-contents .cell1{
    width: 750px;
}
.table-contents .cell2{
    text-align: center;
}
