h1.title{
    margin: -30px 0 15px -10px !important;
}
h3.title{
    margin: 10px 0 5px 8px !important;
}
h3.title2{
    margin-left: -8px !important;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA LINK
 -----------------------------------------------------------------------------*/
a.link-moreinfo:hover , a.link-back:hover{
    color:#F69924 !important;
}

/* MENU
 -----------------------------------------------------------------------------*/
.header .menu .contmenu{
    margin-left: 10px !important;
}

/*------------------------------------------------------------------------------
 - ESTILO QUE ESTAN EN EL "MAIN CONTAINER"
 -----------------------------------------------------------------------------*/
.main-container{
    margin-top:-330px !important;
    width: 1000px !important;
}
    .main-container .cont-pack{
        margin: 0 16px 0 -2px !important;
    }
    .main-container .column-container .middle{
        width: 662px! important;
    }   

/* SIDEBAR
 -----------------------------------------------------------------------------*/
.main-container .column-sidebar{
    float: left !important;
    width:245px !important;
    margin-left: 0 !important;
    position: relative !important;
    z-index: 200 !important;
    /*border: 1px solid red;*/
}
    /* SIDEBAR - FORMULARIO DE CONTACTO
     ---------------------------------------------------------------------*/
    .main-container .column-sidebar .form-contact{
        width: 250px !important;
        height: 300px !important;
        padding: 0 !important;
        padding-top:10px !important;
        margin-top: -10px !important;
        z-index: 20 !important;
    }
        .main-container .column-sidebar .form-contact form{
            width: 200px !important;
            margin: 10px 0 0 23px !important;
        }
           .main-container .column-sidebar .form-contact input {
                border:1px solid #19517F !important;
            }
        .main-container .column-sidebar .cont-banner{
            margin-left: 5px !important;
            z-index: 10 !important;
        }

/*------------------------------------------------------------------------------
 - ESTILO PARA PORTFOLIO
 -----------------------------------------------------------------------------*/
.portfolio-clientes{
    margin:0 0 40px 4px !important;
}
